/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.advertise{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo-guide{
    /* color: white; */
    padding: 5px;
    width: 80px !important;
    height: 80px !important;
}
/* 
.logo-name{
    margin-top: 15px;
    font-size: 23px;
    color: black;
    font-family:andika, sans-serif;
} */

.platypi-uniquifier{
  font-family: "Platypi", serif;
  margin-top: 15px;
  font-size: 23px;
  font-weight:600;
  font-style: normal;
  color:rgb(0, 35, 65);
}

.platypi-uniquifier2{
  font-family: "Platypi", serif;
  margin-top: 13px;
  font-size: 20px;
  font-weight:600;
  font-style: normal;
  /* margin-left: 0; */
  color:rgb(0, 35, 65);
}
.platypi-uniquifier3{
  font-family: "Platypi", serif;
  margin-top: 13px;
  font-size: 20px;
  font-weight:600;
  margin-bottom: 5px;
  font-style: normal;
  margin-left: "40px";
  color:white;
}
/* .foo{
    display: flex;
} */
/* .flex-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the middle */
  /* flex-direction: column;
} */ 
.flex-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-guide2 {
  margin-right: 10px; /* Adds some space between the image and the text */
  margin-left: 0px;
}

.align-middle {
  margin-top: 0px; /* Adjusts the vertical position of the text to align with the middle of the image */
  margin-left: -10px;
}
